.recommended{
    flex-basis: 30%;
}
.side-video{
    display: flex;
    justify-content: space-between;
    margin-bottom:8px;
}
.side-video img{
    width: 50%;
    flex-basis: 49%;
}
.video-info{
    flex-basis: 49%;
}
.video-info h4{
    font-size: 14px;
    margin-bottom: 4px;
}