.container{
    background-color: #f9f9f9;
     margin-left: 240px;     /* match sidebar width */
  padding: 20px;
      margin-top: 10px;
  transition: margin-left 0.3s ease;
}
.large-container{
    margin-left: 72px; 
}

@media (max-width:900px) {
    .large-container, .container{
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 0px;
    }
    
}