.player-container{
    background-color: #f9f9f9;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}