.play-video{
    flex-basis: 69%;
}
.play-video iframe{
    width: 100%;
    height: 37vw;
}
.play-video h3{
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}
.play-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.play-info img{
width: 20px;
margin-right: 8px;
}
.play-info span{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.publisher div p{
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.publisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
.publisher button{
    background-color: red;
    color: #fff;
    border: none;
    padding: 8px 30px;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}   
.video-description{
    padding-left: 55px;
    margin: 15px 0;
}
.video-description p{
    margin-bottom: 5px;
    font-size: 14px;
    color: #5a5a5a;
}
.video-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.comment{
    display: flex;
    align-items: flex-start;
    margin: 20px 0 ;
}
.comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.comment h3 span{
    font-weight: 400;
    font-size: 12px;
    color: #5a5a5a;
    margin-left: 10px;
}
.comment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.comment-action img{
    width: 16px;
    border-radius: 0;
    margin-right: 5px;
    cursor: pointer;
}
.comment-action span{
    margin-right: 20px;
    cursor: pointer;
    color: #5a5a5a;
}

@media (max-width:900px) {
    .video-description {
    padding-left: 7px;
    margin: 15px 0;
}
.video-description p {
    margin-bottom: 5px;
    font-size: 14px;
    color: #5a5a5a;
    line-height: 1.5;
}
.play-video iframe {
    width: 100%;
    height: 65vw;
}
.play-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.play-info span {
    display: inline-flex;
    align-items: center;
    margin-left: 23px;
}
}