*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
font-family: "Roboto Slab", serif;}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}