
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top: 0;
    position: sticky;
      z-index: 2000;  
          background-color: whitesmoke;
}
.nav-left .menu_icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}
.nav-middle .search-box{
margin-right: 15px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
}
.nav-middle .search-box input{
    border: none;
    outline: none;
    width: 400px;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
} 
